@using DeviceExamine.ViewModel;
@model BaseVm

@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

@section TitleSection{
    Step 4
}

@section ContentBody{
    <h2>Device Test : Step 4</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form action="/Employee/DeviceFourPost" method="post">
                <div class="form-group">
                    @Html.ValidationMessage("CredentialError")
                </div>
                <div class="form-group">
                    <label for="GpsVoltage1" style="font-size:medium">GPS Voltage 1</label>&nbsp;
                    <input id="GpsVoltage1" name="GpsVoltage1" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="GpsVoltage2" style="font-size:medium">GPS Voltage 2</label>&nbsp;
                    <input id="GpsVoltage2" name="GpsVoltage2" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="GpsVoltage3" style="font-size:medium">GPS Voltage 3</label>&nbsp;
                    <input id="GpsVoltage3" name="GpsVoltage3" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="GpsVoltage4" style="font-size:medium">GPS Voltage 4</label>&nbsp;
                    <input id="GpsVoltage4" name="GpsVoltage4" class="form-control" required />
                </div>
                <button type="submit" name="btnSubmit" id="btnNext" class="btn btn-default" onclick="return CheckInputs();">
                    <i class="glyphicon glyphicon-new-window"></i>&nbsp;Next
                </button>
                <button type="button" id="btnReset" class="btn btn-warning" onclick="ResetInputs();">
                    <i class="glyphicon glyphicon-refresh"></i>&nbsp;Reset
                </button>
                <br />
                <div id="msg" style="color:red"></div>
            </form>
        </div>
        <div class="col-md-6">
            <table class="table table-striped table-responsive table-bordered">
                <tr>
                    <th colspan="2">Tested Modules</th>
                </tr>
                <tr>
                    <td>IMEI Number/GSM Serial</td>
                    <td>@HttpContext.Current.Session["device"].ToString().Split(',').GetValue(0)</td>
                </tr>
                <tr>
                    <td>GPS Serial</td>
                    <td>@HttpContext.Current.Session["device"].ToString().Split(',').GetValue(1)</td>
                </tr>
                <tr>
                    <td>GPS Signal</td>
                    <td>@HttpContext.Current.Session["device"].ToString().Split(',').GetValue(2)</td>
                </tr>
                <tr>
                    <td>GSM Signal</td>
                    <td>@HttpContext.Current.Session["device"].ToString().Split(',').GetValue(3)</td>
                </tr>
                <tr>
                    <td>SOS Test</td>
                    <td>@HttpContext.Current.Session["device"].ToString().Split(',').GetValue(4)</td>
                </tr>
                <tr>
                    <td>Engine Status Check</td>
                    <td>@HttpContext.Current.Session["device"].ToString().Split(',').GetValue(5)</td>
                </tr>
                <tr>
                    <td>AC Status Check</td>
                    <td>@HttpContext.Current.Session["device"].ToString().Split(',').GetValue(6)</td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        function ResetInputs() {
            document.getElementById('GpsVoltage1').value = "";
            document.getElementById('GpsVoltage2').value = "";
            document.getElementById('GpsVoltage3').value = "";
            document.getElementById('GpsVoltage4').value = "";
        }

        function CheckInputs() {
            var gpsV1 = document.getElementById('GpsVoltage1').value;
            var gpsV2 = document.getElementById('GpsVoltage2').value;
            var gpsV3 = document.getElementById('GpsVoltage3').value;
            var gpsV4 = document.getElementById('GpsVoltage4').value;
            if (isNaN(gpsV1)) {
                document.getElementById('msg').innerText = "GPS Voltage 1 should be a number";
                return false;
            }
            else if (gpsV1 < 3.2) {
                document.getElementById('msg').innerText = "GPS Voltage 1 is more than 3.1";
                return false;
            }
            else if (isNaN(gpsV2)) {
                document.getElementById('msg').innerText = "GPS Voltage 2 should be a number";
                return false;
            }
            else if (gpsV2 < 3.2) {
                document.getElementById('msg').innerText = "GPS Voltage 2 is more than 3.1";
                return false;
            }
            else if (isNaN(gpsV3)) {
                document.getElementById('msg').innerText = "GPS Voltage 3 should be a number";
                return false;
            }
            else if (gpsV3 < 3.2) {
                document.getElementById('msg').innerText = "GPS Voltage 3 is more than 3.1";
                return false;
            }
            else if (isNaN(gpsV4)) {
                document.getElementById('msg').innerText = "GPS Voltage 4 should be a number";
                return false;
            }
            else if (gpsV4 < 2.6) {
                document.getElementById('msg').innerText = "GPS Voltage 4 is more than 2.5";
                return false;
            }
            else {
                return true;
            }
        }
    </script>
}




