@using DeviceExamine.ViewModel
@model ReadyDeviceListVm

@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

@section TitleSection{
    Ready Devices
}

@section HeaderSection{
    <style>
        .btn-primary {
            color: #337AB7;
            background-color: white;
            border-color: #337AB7;
        }
            .btn-primary:hover {
                color: white;
                background-color: #337AB7;
                border-color: #337AB7;
            }
        .btn-default {
            color:#18BC9C;
            background-color:white;
            border-color:#18BC9C;
        }
            .btn-default:hover {
                color:white;
                background-color:#18BC9C;
                border-color:#18BC9C;
            }
    </style>
    }

@section ContentBody{
    <form action="/Employee/DeviceDetail">
    <div>
        <h2>Ready Device List</h2>
        <table border="1" class="table table-striped table-bordered table-responsive">
            <tr>
                <th>S/N</th>
                <th>Details</th>
                <th>Testing Time</th>
                <th>Test By</th>
                <th>IMEI Number</th>
                <th>GPS Serial</th>
                <th>GSM Signal</th>
                <th>GPS Signal</th>
                <th>GPS Voltage</th>
                <th>Main Voltage</th>
                <th>Main Regulator Voltage</th>
                <th>Main Current Voltage</th>
                <th>Relay Output</th>
                <th>Install</th>
            </tr>
            @{
                int counter = 0;
            }
            @foreach (ReadyDeviceVm item in Model.ReadyDevices)
            {
                <tr>
                    @{counter++;}
                    <td>
                        @counter
                    </td>
                    <td>
                        <button type="submit" name="Imei" value="@item.Imei" class="btn btn-primary">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </button>
                    </td>
                    <td>@item.TestOn</td>
                    <td>@item.TestBy</td>
                    <td>@item.Imei</td>
                    <td>@item.GpsSerial</td>
                    <td>@item.GsmSignal</td>
                    <td>@item.GpsSignal</td>
                    <td>@item.GpsVoltage1</td>
                    <td>@item.MainVoltage</td>
                    <td>@item.MainRegulatorVoltage</td>
                    <td>@item.MainCurrentVoltage</td>
                    <td>@item.RelayOutput</td>
                    <td>
                        <button type="submit" name="Imei" value="@item.Imei" class="btn btn-default">
                            <i class="glyphicon glyphicon-wrench"></i>
                        </button>
                    </td>
                </tr>
            }
        </table>
    </div>
</form>
    }
